---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
    {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append :
    post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
        <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
        <span id="post-date" class="post-date">{{post.date}}</span>
        <script type="text/javascript">
            var day = new Date(document.getElementById("post-date").innerHTML);
            var dayWrapper = new persianDate(day);
            document.getElementById("post-date").innerHTML = dayWrapper.format('DD MMMM YYYY')
        </script>
        <span>&nbsp;&nbsp;—&nbsp;</span>
        <span id="post-words" class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " دقیقه زمان خواندن" }}{% endunless %}</span>
        <script>
            var txt = document.getElementById("post-words").innerHTML;
            var pos = txt.replace(/0/g, '۰').replace(/1/g, '۱').replace(/2/g, '۲').replace(/3/g, '۳').replace(/4/g, '۴')
                .replace(/5/g, '۵').replace(/6/g, '۶').replace(/7/g, '۷').replace(/8/g, '۸').replace(/9/g, '۹');
            document.getElementById("post-words").innerHTML = pos;
        </script>
    </div>
</article>
{% endfor %}

{% include pagination.html %}
