<div class="pagination">
    <nav class="pagination" role="pagination">
        <div>
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-chevron-left"
                                                                    aria-hidden="true"></i></a></p>
            {% else %}
            <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i
                    class="fa fa-chevron-left" aria-hidden="true"></i></a></p>
            {% endif %}
            {% endif %}

            <p><span id="pagination-text"
                     class="page-number">صفحه {{paginator.page}} از {{paginator.total_pages}}</span></p>

            {% if paginator.next_page %}
            <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i
                    class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
            {% endif %}
        </div>
    </nav>
    <script>
        var txt = document.getElementById("pagination-text").innerHTML;
        var pos = txt.replace('0', '۰').replace('1', '۱').replace('2', '۲').replace('3', '۳').replace('4', '۴')
            .replace('5', '۵').replace('6', '۶').replace('7', '۷').replace('8', '۸').replace('9', '۹');
        document.getElementById("pagination-text").innerHTML = pos;
    </script>
</div>
