<link rel="stylesheet" href="{{ "/assets/css/header.css" | prepend: site.baseurl }}">
<input type="checkbox" id="xBxHack"/>
<nav id="mainNav" class="mainNav">
    <div class="container">
        <div class="lang">
            <a href="{{site.url}}/en/">English</a>
        </div>
        <label class="navBars" for="xBxHack">
            <i class="fa fa-bars"></i>
        </label>
        <ul id="menu" class="menu">
            <li><a href="{{site.baseurl}}/about">درباره من</a></li>
            <li><a href="{{site.baseurl}}/">خانه</a></li>

        </ul>
    </div>
</nav>
