.footer {
  background-color: #cecece;
  width: 100%;
  text-align: right;
  direction: rtl;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 25px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/

.footer .footer-left {
  width: 33%;
}

.footer .about {
  line-height: 20px;
  color: #33383b;
  direction: rtl;
  text-align: justify;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  text-align: center;
  color: #33383b;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin: 20px 10px;

}

.footer .icons a {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
}


/* footer center*/

.footer .footer-center {
  direction: rtl;
  width: 33%;
}


.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 10px 15px;
}


.footer .footer-center p {
  display: inline-block;
  color: #33383b;
  direction: rtl;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #33383b;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  align-content: center;
  width: 32%;
}
.footer .menu {
  color: #33383b;
  margin: 10px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    justify-content: center;
    display: inline;
    width: 100%;
    margin: auto 20px 40px;
    text-align: center;
  }

  .footer .footer-center {
    text-align: right;
  }
}
