.mainNav {
    background: #fafafa;
    color: #1a1b18;
    width: 100%;
    max-height: 70px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.mainNav a {
    text-decoration: none;
}

.mainNav .lang {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.mainNav .lang a {
    color: red;
    height: auto;
    font-weight: bold;
    display: block;
    padding: 20px 18px 18px;
}

.mainNav .lang a:hover {
    color: red;
    background: #efefef;
}

.mainNav .menu {
    background: #fafafa;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /*POSITION*/
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
}

.mainNav .menu a {
    color: #292938;
    font-weight: bold;
    display: block;
    padding: 20px 15px;
}

.mainNav .menu a:hover {
    background: #efefef;
    color: #292938;
}

.mainNav .navBars {
    display: inline-block;
    font-size: 1.7em;
    float: right;
    height: auto;
    text-align: center;
    /*USER SELECTION*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    margin: 18px;
}

#xBxHack {
    visibility: hidden;
    opacity: 10;
    position: absolute;
    top: -99999px;
}

.container {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .mainNav {
        padding: 0 20px;
        overflow: auto;
    }

    .mainNav .navBars {
        display: none;
    }

    .mainNav .lang a {
        padding: 20px 15px;
    }

    .mainNav .menu {
        display: block;
        box-shadow: none;
        border: none;
        float: right;
        direction: ltr;
        /*POSITION*/
        position: static;
    }

    .mainNav .menu li {
        display: inline-block;
    }

    .mainNav .menu a {
        border: none;
    }

}
