.sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 250px;
    height: 100%;
    padding: 20px 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.about {
    margin: 0 0 40px;
    text-align: center;
}

.about .cover-author-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: #ececec;
}

.about img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
}

.about img:hover {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

.about .author-name {
    font-family: 'Arial', serif;
    margin: 0 0 10px;
    position: revert;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333030;
    font-weight: 700;
}

.about .author-name::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #515151;
}

.about p {
    direction: rtl;
    text-align: justify;
    font-size: 16px;
    margin: 0 15px;
}

.contact .contact-title {
    position: relative;
    color: #333030;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
}

.contact .contact-title::before {
    content: "";
    display: block;
    height: 2px;
    width: -webkit-calc(50% - 48px);
    width: calc(50% - 48px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #515151;
}

.contact .contact-title::after {
    content: "";
    display: block;
    height: 2px;
    width: -webkit-calc(50% - 48px);
    width: calc(50% - 48px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #515151;
}

.contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.contact ul li {
    display: inline-block;
    margin-left: 10px;
}

.contact ul li:first-child {
    margin-left: 0;
}

.contact ul li a {
    color: #515151;
    display: block;
    padding: 5px;
    font-size: 18px;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.contact ul li a:hover {
    color: #333030;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

footer .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 600px) {
    .sidebar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px;
        background-color: #ffffff;
        -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
        box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    }

    .sidebar footer {
        margin-bottom: 10px;
    }

    .sidebar .about {
        text-align: center;
        max-width: 480px;
        margin: 10px auto auto;
        padding-bottom: 40px;
    }

    .about img {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        margin-bottom: 10px;
    }

    .contact-title, .copyright {
        display: none;
    }
}
